<ApplicationInsights>
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.PerformanceCollectorModule, Microsoft.AI.PerfCounterCollector">
      <Counters>
        <Add CategoryName="Processor" CounterName="% Processor Time" InstanceName="_Total" />
      </Counters>
    </Add>
  </TelemetryModules>
</ApplicationInsights>
